// Font Families
$ff-display: "Fraunces", serif;
$ff-body: "Barlow", sans-serif;

// Colors
// Primary
// for stand out learn more btn hover
$color-red: hsl(7, 99%, 70%);
$color-red-light: hsla(7, 99%, 70%, 0.25);
// for transform learn more btn hover
$color-yellow: hsl(51, 100%, 49%);
$color-yellow-light: hsla(51, 100%, 49%, 0.25);
// graphic design section text
$color-cyan-dark: hsl(167, 40%, 24%);
// footer text color
$color-cyan-moderate: hsl(168, 34%, 41%);

$color-footer-bg: hsl(168, 44%, 70%);
// photography section
$color-blue-dark: hsl(198, 62%, 26%);

// Neutral
$color-white: hsl(0, 0%, 100%);
// testimonials name
$color-blue-dark: hsl(212, 27%, 19%);
// testimonials body text
$color-blue-gray-dark: hsl(213, 9%, 39%);
// mobile nav links responsive
$color-blue-gray: hsl(232, 10%, 55%);
// testimonials heading and role description
$color-blue-gray-light: hsl(210, 4%, 67%);

// Font Size
$fs-body: 1.125rem;
