@import "base";
@import "variables";

// Header
.header {
  color: $color-white;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;

  &__heading {
    font-family: $ff-display;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 8.75px;
    margin-top: 5rem;
    font-size: 3.5rem;
  }

  &__navigation {
    padding: 1.5rem 2rem;
  }

  &__nav-link {
    color: $color-white;
    font-family: $ff-body;
    font-size: $fs-body;
  }

  &__contact-link {
    color: $color-blue-dark;
    font-family: $ff-display;
    text-transform: uppercase;
    background-color: $color-white;
    border-radius: 3rem;
    padding: 0.5em 1em;
    margin-left: 2rem;
  }
  &__contact-link:hover {
    background-color: hsla(100, 100%, 100%, 0.26);
    color: $color-white;
    transition: all 0.4s ease;
  }
}

// TRANSFORM SECTION
.transform {
  &__text-content-container {
    padding: 0;
    max-height: 600px;
  }

  &__text-content {
    width: 67%;
    margin: 0 auto;
  }

  &__heading {
    font-family: $ff-display;
    font-weight: 700;
  }

  &__body {
    font-family: $ff-body;
    color: $color-blue-gray;
    line-height: 1.875rem;
  }

  &__btn {
    font-family: $ff-display;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-blue-dark;
    font-weight: 700;
  }

  &__image-container {
    padding: 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}

// STANDOUT SECTION
.standout {
  &__text-content-container {
    padding: 0;
    max-height: 600px;
  }
  &__text-content {
    width: 67%;
    margin: 0 auto;
  }

  &__heading {
    font-family: $ff-display;
    font-weight: 700;
  }

  &__body {
    font-family: $ff-body;
    color: $color-blue-gray;
    line-height: 1.875rem;
  }

  &__btn {
    font-family: $ff-display;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-blue-dark;
    font-weight: 700;
  }
  &__image-container {
    padding: 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}
// SERVICES SECTION
.services {
  &__container {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &--design {
      color: $color-cyan-dark;
      background-image: url(../images/desktop/image-graphic-design.jpg);
    }
    &--photography {
      color: $color-blue-dark;
      background-image: url(../images/desktop/image-photography.jpg);
    }
  }

  &__text-content {
    width: 70%;
    margin: 0 auto;
  }

  &__heading {
    font-family: $ff-display;
    font-weight: 700;
    font-size: 1.75rem;
  }
  &__body {
    font-family: $ff-body;
    font-size: 1rem;
    line-height: 1.6875rem;
  }
}

// TESTIMONIALS SECTION

.testimonials {
  padding-block: 10rem;
  &__text-content {
    width: 89%;
    margin: 0 auto;
  }
  &__heading {
    font-family: $ff-display;
    font-size: 1.25rem;
    font-weight: 900;
    color: $color-blue-gray-light;
    text-transform: uppercase;
    margin-bottom: 4rem;
    letter-spacing: 5px;
  }
  &__item {
    padding: 1.5rem;
  }

  &__img {
    margin-bottom: 2rem;
  }

  &__imgfile {
    height: 4.5rem;
    border-radius: 50%;
  }
  &__body {
    font-family: $ff-body;
    color: $color-blue-gray-dark;
    font-size: $ff-body;
    line-height: 2rem;
    letter-spacing: -0.13px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__name {
    font-family: $ff-display;
    font-weight: 700;
    color: $color-blue-dark;
  }
  &__role {
    font-family: $ff-body;
    color: $color-blue-gray-light;
    margin-top: -0.7rem;
  }
}

// TESTIMONIALS MEDIA QUERIES
@media only screen and (max-width: 30rem) {
  .testimonials {
    padding-block: 3.5rem;

    &__heading {
      font-size: 1rem;
      margin-bottom: 2.5rem;
    }
  }
}

// IMAGE GALLERY
.img-gallery {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas: "item1 item2 item3 item4";
  }
  &__item {
    height: 447px;
    background-size: cover;
    background-repeat: no-repeat;

    &--1 {
      background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
      grid-area: item1;
    }
    &--2 {
      background-image: url("../images/desktop/image-gallery-orange.jpg");
      grid-area: item2;
    }
    &--3 {
      background-image: url("../images/desktop/image-gallery-cone.jpg");
      grid-area: item3;
    }
    &--4 {
      background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
      grid-area: item4;
    }
  }
}
// IMAGE GALLERY MEDIA QUERIES
@media only screen and (max-width: 45rem) {
  .img-gallery {
    &__container {
      grid-template-areas:
        "item1 item2"
        "item3 item4";
    }

    &__item {
      max-height: 250px;

      &--1 {
        background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
      }
      &--2 {
        background-image: url("../images/mobile/image-gallery-orange.jpg");
      }
      &--3 {
        background-image: url("../images/mobile/image-gallery-cone.jpg");
      }
      &--4 {
        background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
      }
    }
  }
}
