@import "base";
@import "variables";

// Header
.header {
  color: $color-white;
  background-image: url(../images/desktop/image-header.jpg);
  background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;

  &__heading {
    font-family: $ff-display;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 8.75px;
    margin-top: 5rem;
    font-size: 3.5rem;
  }

  &__navigation {
    padding: 1.5rem 2rem;
  }
  &__navigation-right {
    column-gap: 2rem;
  }

  &__nav-link {
    color: $color-white;
    font-family: $ff-body;
    padding: 0.2em;
    &:hover {
      color: $color-white;
    }
  }

  &__navbar-collapse {
    justify-content: flex-end;
  }

  &__contact-link {
    color: $color-blue-dark;
    font-family: $ff-display;
    text-transform: uppercase;
    background-color: $color-white;
    border-radius: 3rem;
    padding: 0.7rem 1.5rem;
    margin-left: 0.8rem;
  }
  &__contact-link:hover {
    background-color: hsla(100, 100%, 100%, 0.26);
    color: $color-white;
    transition: all 0.4s ease;
  }
}
// MEDIA QUERIES FOR HEADER
@media only screen and (max-width: 47.999rem) {
  .header {
    &__heading {
      font-size: 2.5rem;
      padding-inline: 1rem;
    }

    &__navbar-collapse {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: white;
      padding-block: 2.7rem;
      margin-top: 2.5rem;
      position: relative;

      // stack overflow for the winnnnn
      // https://stackoverflow.com/questions/7073484/how-do-css-triangles-work
      &::before {
        content: "";
        width: 60px;
        border-width: 30px;
        border-color: transparent white transparent transparent;
        border-style: solid;
        position: absolute;
        top: -1.86rem;
        right: 0;
      }
    }

    &__nav-link {
      color: $color-blue-gray;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
    &__nav-link:hover {
      color: $color-blue-dark;
    }

    &__contact-link {
      background-color: $color-yellow;
      color: $color-blue-dark;
      margin: 0;
    }

    &__contact-link:hover {
      background-color: $color-yellow-light;
      color: $color-blue-dark;
    }
  }
  // bootstrap navbar styling

  .navbar-dark .navbar-toggler {
    border-color: transparent;
    padding-inline: 0;
  }
}

@media only screen and (max-width: 35rem) {
  .header {
    &__heading {
    }
  }
}

// TRANSFORM SECTION
.transform {
  &__text-content-container {
    padding: 0;
    max-height: 600px;
  }

  &__text-content {
    width: 67%;
    margin: 0 auto;
    padding-block: 2rem;
  }

  &__heading {
    font-family: $ff-display;
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__body {
    font-family: $ff-body;
    color: $color-blue-gray;
    line-height: 1.875rem;
    font-weight: 600;
  }

  &__btn {
    font-family: $ff-display;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-blue-dark;
    font-size: 0.9375rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      color: $color-blue-dark;
    }

    // underline effect

    &::after {
      content: "";
      position: absolute;
      width: 111%;
      height: 7px;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 3rem;
      background-color: $color-yellow-light;
      z-index: -4;
    }

    &:hover::after {
      background-color: $color-yellow;
      transition: all 0.3s ease-in-out;
    }
  }

  &__image-container {
    padding: 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}

// STANDOUT SECTION
.standout {
  &__text-content-container {
    padding: 0;
    max-height: 600px;
  }
  &__text-content {
    width: 67%;
    margin: 0 auto;
    padding-block: 2rem;
  }

  &__heading {
    font-family: $ff-display;
    font-weight: 700;
  }

  &__body {
    font-family: $ff-body;
    font-weight: 600;
    color: $color-blue-gray;
    line-height: 1.875rem;
  }

  &__btn {
    font-family: $ff-display;
    font-size: 0.9375rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-blue-dark;
    font-weight: 700;
    display: inline-block;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      color: $color-blue-dark;
    }

    // underline effect

    &::after {
      content: "";
      position: absolute;
      width: 111%;
      height: 7px;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 3rem;
      background-color: $color-red-light;
      z-index: -4;
    }

    &:hover::after {
      background-color: $color-red;
      transition: all 0.3s ease-in-out;
    }
  }
  &__image-container {
    padding: 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}

// MEDIA QUERIES FOR TRANSFORM AND STANDOUT

// SERVICES SECTION
.services {
  &__container {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &--design {
      color: $color-cyan-dark;
      // background-image: url(../images/desktop/image-graphic-design.jpg);
      background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/desktop/image-graphic-design.jpg");
    }
    &--photography {
      color: $color-blue-dark;
      // background-image: url(../images/desktop/image-photography.jpg);
      background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/desktop/image-photography.jpg");
    }
  }

  &__text-content {
    width: 60%;
    margin: 0 auto;
  }

  &__heading {
    font-family: $ff-display;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 1.3rem;
  }
  &__body {
    font-family: $ff-body;
    font-size: 1rem;
    line-height: 1.6875rem;
    margin-bottom: 3.5rem;
  }
}

// TESTIMONIALS SECTION

.testimonials {
  padding-block: 10rem;
  &__text-content {
    width: 89%;
    margin: 0 auto;
  }
  &__heading {
    font-family: $ff-display;
    font-size: 1.25rem;
    font-weight: 900;
    color: $color-blue-gray-light;
    text-transform: uppercase;
    margin-bottom: 4rem;
    letter-spacing: 5px;
  }
  &__item {
    padding: 1.5rem;
  }

  &__img {
    margin-bottom: 2rem;
  }

  &__imgfile {
    height: 4.5rem;
    border-radius: 50%;
  }
  &__body {
    font-family: $ff-body;
    color: $color-blue-gray-dark;
    font-size: $ff-body;
    line-height: 2rem;
    letter-spacing: -0.13px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__name {
    font-family: $ff-display;
    font-weight: 700;
    color: $color-blue-dark;
  }
  &__role {
    font-family: $ff-body;
    color: $color-blue-gray-light;
    margin-top: -0.7rem;
  }
}

// TESTIMONIALS MEDIA QUERIES
@media only screen and (max-width: 30rem) {
  .testimonials {
    padding-block: 3.5rem;

    &__heading {
      font-size: 1rem;
      margin-bottom: 2.5rem;
    }
  }
}

// IMAGE GALLERY
.img-gallery {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas: "item1 item2 item3 item4";
  }
  &__item {
    height: 447px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
      background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/desktop/image-gallery-milkbottles.jpg");
      grid-area: item1;
    }
    &--2 {
      background-image: url("../images/desktop/image-gallery-orange.jpg");
      background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/desktop/image-gallery-orange.jpg");
      grid-area: item2;
    }
    &--3 {
      background-image: url("/../images/desktop/image-gallery-cone.jpg");
      background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/desktop/image-gallery-cone.jpg");
      grid-area: item3;
    }
    &--4 {
      background-image: url("/../images/desktop/image-gallery-sugarcubes.jpg");
      background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/desktop/image-gallery-sugarcubes.jpg");
      grid-area: item4;
    }
  }
}
// IMAGE GALLERY MEDIA QUERIES
@media only screen and (max-width: 45rem) {
  .img-gallery {
    &__container {
      grid-template-areas:
        "item1 item2"
        "item3 item4";
    }

    &__item {
      max-height: 250px;
      background-position: initial;

      &--1 {
        background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
        background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/mobile/image-gallery-milkbottles.jpg");
      }
      &--2 {
        background-image: url("../images/mobile/image-gallery-orange.jpg");
        background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/mobile/image-gallery-orange.jpg");
      }
      &--3 {
        background-image: url("../images/mobile/image-gallery-cone.jpg");
        background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/mobile/image-gallery-cone.jpg");
      }
      &--4 {
        background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
        background-image: url("https://btaylor13.github.io/sunnyside-agency-landing-FEM/images/mobile/image-gallery-sugar-cubes.jpg");
      }
    }
  }
}

// FOOTER SECTION
.footer {
  background-color: $color-footer-bg;
  &__content {
  }
  &__logo-img {
    margin-top: 3.3rem;
    height: 33px;
  }
  &__nav {
    list-style: none;
    display: flex;
    padding: 3rem 3rem 4rem 3rem;
    column-gap: 3rem;
    font-family: $ff-body;
    font-weight: 600;
    font-size: $fs-body;
  }
  &__nav-link {
    cursor: pointer;
    color: $color-cyan-moderate;
  }
  &__nav-link:hover {
    color: $color-white;
  }

  &__social {
    column-gap: 1.5rem;
    margin-bottom: 5rem;
  }
  &__social-icon {
    cursor: pointer;
  }
  &__social-icon:hover {
    filter: invert(100%) grayscale(100%) brightness(2) saturate(1);
  }
  &__nav-link:hover,
  &__social-icon:hover {
    transition: all 0.3s ease;
  }
}

.attribution {
  margin-bottom: 2rem;
}

// TESTING NAVIGATIONS STUFF
