*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.header {
  color: white;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }
  .header__heading {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 8.75px;
    margin-top: 5rem;
    font-size: 3.5rem; }
  .header__navigation {
    padding: 1.5rem 2rem; }
  .header__nav-link {
    color: white;
    font-family: "Barlow", sans-serif;
    font-size: 1.125rem; }
  .header__contact-link {
    color: #23303e;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    background-color: white;
    border-radius: 3rem;
    padding: 0.5em 1em;
    margin-left: 2rem; }
  .header__contact-link:hover {
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    transition: all 0.4s ease; }

.transform__text-content-container {
  padding: 0; }

.transform__text-content {
  width: 67%;
  margin: 0 auto; }

.transform__heading {
  font-family: "Fraunces", serif;
  font-weight: 700; }

.transform__body {
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 1.875rem; }

.transform__btn {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  font-weight: 700; }

.transform__image-container {
  padding: 0; }

.transform__image {
  width: 100%;
  height: auto; }

.standout__text-content-container {
  padding: 0; }

.standout__text-content {
  width: 67%;
  margin: 0 auto; }

.standout__heading {
  font-family: "Fraunces", serif;
  font-weight: 700; }

.standout__body {
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 1.875rem; }

.standout__btn {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  font-weight: 700; }

.standout__image-container {
  padding: 0; }

.standout__image {
  width: 100%;
  height: auto; }

.services__container {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .services__container--design {
    color: #25564b;
    background-image: url(../images/desktop/image-graphic-design.jpg); }
  .services__container--photography {
    color: #23303e;
    background-image: url(../images/desktop/image-photography.jpg); }

.services__text-content {
  width: 70%;
  margin: 0 auto; }

.services__heading {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.75rem; }

.services__body {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.6875rem; }

.testimonials {
  height: 100vh; }
