*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.header {
  color: white;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }
  .header__heading {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 8.75px;
    margin-top: 5rem;
    font-size: 3.5rem; }
  .header__navigation {
    padding: 1.5rem 2rem; }
  .header__nav-link {
    color: white;
    font-family: "Barlow", sans-serif; }
    .header__nav-link:hover {
      color: white; }
  .header__contact-link {
    color: #23303e;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    background-color: white;
    border-radius: 3rem;
    padding: 0.5em 1em;
    margin-left: 2rem; }
  .header__contact-link:hover {
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    transition: all 0.4s ease; }

.transform__text-content-container {
  padding: 0;
  max-height: 600px; }

.transform__text-content {
  width: 67%;
  margin: 0 auto;
  padding-block: 2rem; }

.transform__heading {
  font-family: "Fraunces", serif;
  font-weight: 700; }

.transform__body {
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 1.875rem; }

.transform__btn {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  font-weight: 700; }

.transform__image-container {
  padding: 0; }

.transform__image {
  width: 100%;
  height: auto; }

.standout__text-content-container {
  padding: 0;
  max-height: 600px; }

.standout__text-content {
  width: 67%;
  margin: 0 auto;
  padding-block: 2rem; }

.standout__heading {
  font-family: "Fraunces", serif;
  font-weight: 700; }

.standout__body {
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 1.875rem; }

.standout__btn {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  font-weight: 700; }

.standout__image-container {
  padding: 0; }

.standout__image {
  width: 100%;
  height: auto; }

.services__container {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .services__container--design {
    color: #25564b;
    background-image: url(../images/desktop/image-graphic-design.jpg); }
  .services__container--photography {
    color: #23303e;
    background-image: url(../images/desktop/image-photography.jpg); }

.services__text-content {
  width: 60%;
  margin: 0 auto; }

.services__heading {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 1.3rem; }

.services__body {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.6875rem;
  margin-bottom: 3.5rem; }

.testimonials {
  padding-block: 10rem; }
  .testimonials__text-content {
    width: 89%;
    margin: 0 auto; }
  .testimonials__heading {
    font-family: "Fraunces", serif;
    font-size: 1.25rem;
    font-weight: 900;
    color: #a7abae;
    text-transform: uppercase;
    margin-bottom: 4rem;
    letter-spacing: 5px; }
  .testimonials__item {
    padding: 1.5rem; }
  .testimonials__img {
    margin-bottom: 2rem; }
  .testimonials__imgfile {
    height: 4.5rem;
    border-radius: 50%; }
  .testimonials__body {
    font-family: "Barlow", sans-serif;
    color: #5a636c;
    font-size: "Barlow", sans-serif;
    line-height: 2rem;
    letter-spacing: -0.13px;
    font-weight: 600;
    margin-bottom: 2rem; }
  .testimonials__name {
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: #23303e; }
  .testimonials__role {
    font-family: "Barlow", sans-serif;
    color: #a7abae;
    margin-top: -0.7rem; }

@media only screen and (max-width: 30rem) {
  .testimonials {
    padding-block: 3.5rem; }
    .testimonials__heading {
      font-size: 1rem;
      margin-bottom: 2.5rem; } }

.img-gallery__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-areas: "item1 item2 item3 item4"; }

.img-gallery__item {
  height: 447px;
  background-size: cover;
  background-repeat: no-repeat; }
  .img-gallery__item--1 {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
    grid-area: item1; }
  .img-gallery__item--2 {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
    grid-area: item2; }
  .img-gallery__item--3 {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
    grid-area: item3; }
  .img-gallery__item--4 {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
    grid-area: item4; }

@media only screen and (max-width: 45rem) {
  .img-gallery__container {
    grid-template-areas: "item1 item2" "item3 item4"; }
  .img-gallery__item {
    max-height: 250px; }
    .img-gallery__item--1 {
      background-image: url("../images/mobile/image-gallery-milkbottles.jpg"); }
    .img-gallery__item--2 {
      background-image: url("../images/mobile/image-gallery-orange.jpg"); }
    .img-gallery__item--3 {
      background-image: url("../images/mobile/image-gallery-cone.jpg"); }
    .img-gallery__item--4 {
      background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg"); } }

.footer {
  background-color: #91d4c7; }
  .footer__logo-img {
    margin-top: 3.3rem;
    height: 33px; }
  .footer__nav {
    list-style: none;
    display: flex;
    padding: 3rem 3rem 4rem 3rem;
    column-gap: 3rem;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1.125rem; }
  .footer__nav-link {
    cursor: pointer;
    color: #458c7e; }
  .footer__nav-link:hover {
    color: white; }
  .footer__social {
    column-gap: 1.5rem;
    margin-bottom: 5rem; }
  .footer__social-icon {
    cursor: pointer; }
  .footer__social-icon:hover {
    filter: invert(100%) grayscale(100%) brightness(2) saturate(1); }
  .footer__nav-link:hover, .footer__social-icon:hover {
    transition: all 0.3s ease; }

.attribution {
  margin-bottom: 2rem; }
